<div class="footer">
  <div class="function-buttons">
    <button>
      <i class="fa fa-exchange-alt"></i>
      <span>Troca<br />Alt + T</span>
    </button>
    <button>
      <i class="fa fa-undo"></i>
      <span>Devolução<br />Ctrl + D</span>
    </button>
    <button>
      <i class="fa fa-lock"></i>
      <span>Bloquear<br />Ctrl + B</span>
    </button>
    <button>
      <i class="fa fa-file-alt"></i>
      <span>Outras Funções<br />Shift + F1</span>
    </button>
    <button>
      <i class="fa fa-comment-dots"></i>
      <span>Suporte Chat<br />Alt + H</span>
    </button>
    <button>
      <i class="fa fa-shopping-bag"></i>
      <span> Vendas<br />Alt + V</span>
    </button>
    <button>
      <i class="fa fa-question-circle"></i>
      <span>Ajuda<br />Ctrl + H</span>
    </button>
  </div>
</div>
