<div class="footer">
  <div class="function-buttons">
    <button>
      <i class="fa fa-exchange-alt"></i>
      <span>Troca<br /></span>
    </button>
    <button>
      <i class="fa fa-undo"></i>
      <span>Devolução<br /></span>
    </button>

    <button>
      <i class="fa fa-file-alt"></i>
      <span>Outras Funções<br /></span>
    </button>

    <button>
      <i class="fa fa-shopping-bag"></i>
      <span> Vendas<br /></span>
    </button>
    <button>
      <i class="fa fa-question-circle"></i>
      <span>Ajuda<br /></span>
    </button>
  </div>
</div>
