<app-container>
  <div class="card">
    <div class="container">
      <!-- Header -->
      <app-header></app-header>

      <!-- Main Content -->
      <div class="main-content">
        <div class="left-section">
          <app-search-bar></app-search-bar>
        </div>
        <div class="right-section">
          <app-produt-list></app-produt-list>
          <app-payment-options></app-payment-options>
        </div>
      </div>

      <!-- Footer -->
      <app-footer></app-footer>
    </div>
  </div>
</app-container>
