.card {
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #84b7e9 100%
  ); // Gradiente suave
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  margin: 20px;
  padding: 20px;
  transition: box-shadow 0.3s ease;
  font-family: "Roboto", sans-serif;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f1f5f9;
}

app-header {
  flex: 0 0 auto;
  z-index: 10; // Mantido, menor que o modal (2000)
}

.main-content {
  display: flex;
  flex: 1;
  padding: 15px;
  overflow: auto;
}

.left-section {
  flex: 1;
  background: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

.right-section {
  flex: 2;
  background: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }
}

app-footer {
  flex: 0 0 auto;
  z-index: 10; // Adicionado, menor que o modal (2000)
}

@media (max-width: 768px) {
  .card {
    margin: 10px;
    padding: 15px;
  }

  .container {
    .main-content {
      flex-direction: column;
      padding: 10px;

      .left-section,
      .right-section {
        flex: none;
        width: 100%;
        margin: 10px 0;
        padding: 10px;
      }
    }
  }
}
