<div class="search-bar">
  <input
    type="text"
    placeholder="Buscar produto..."
    [(ngModel)]="searchQuery"
    (ngModelChange)="filterProducts()"
    (keydown.enter)="selectFirstProduct()"
  />
  <button (click)="clearSearch()">
    <i class="fas fa-search"></i>
  </button>
  <div class="dropdown" *ngIf="filteredProducts.length && searchQuery">
    <div
      class="dropdown-item"
      *ngFor="let product of filteredProducts"
      (click)="selectProduct(product)"
    >
      <span class="code">{{ product.code }}</span>
      <span class="description">{{ product.description }}</span>
      <span class="price">R$ {{ product.price | number : "1.2-2" }}</span>
    </div>
  </div>
</div>
