<div class="search-bar">
  <input
    type="text"
    placeholder="Buscar produto..."
    [(ngModel)]="searchQuery"
    (ngModelChange)="onSearchChange()"
    (keydown.enter)="selectFirstProduct()"
  />
  <button (click)="clearSearch()">
    <i class="fas fa-search"></i>
  </button>
  <div class="dropdown" *ngIf="filteredProducts.length && searchQuery">
    <div
      class="dropdown-item"
      *ngFor="let product of filteredProducts"
      (click)="selectProduct(product)"
    >
      <span class="code">Codigo: {{ product.id }}</span>
      <span class="name">Nome: {{ product.nome }}</span>
      <span class="quantity">Qtd: {{ product.quantidade }}</span>
      <span class="price">R$ {{ product.precoVenda | number : "1.2-2" }}</span>
    </div>
  </div>
</div>
